$color-very-dark-grey: hsl(248, 15%, 11%); //body
$color-dark-grey: hsl(247, 11%, 15%); //main
$color-grey: hsl(251, 9%, 53%); //h1
$color-almost-white: hsl(252, 11%, 91%); //font
$color-neon-green: hsl(127, 100%, 82%); //radio
$color-yellow: hsl(42, 91%, 68%); //strength
$color-orange: hsl(13, 95%, 66%);
$color-red: hsl(0, 91%, 63%);